<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Job Applicant update profile test" verbose="1">
    <test name="update resume">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="org.bps.testScripts.NaukriLoginTest"/>
        </classes>
    </test>
</suite>